<!DOCTYPE html>
<html>
<head>
	<title>FileUp</title>
	<meta charset="utf-8">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>
<body>
	<p>Upload your file and see it's size in byts</p>
	<form enctype="multipart/form-data" method="post" action="/up">
		<input type="file" name="image">

		<input type='submit'></input>
	</form>
	
</body>
</html>